<form role="form" action="/player">
	<div class="form-group">
		<input class="form-control" type="text" name="account_id" placeholder="Account ID">
	</div>
	<button type="submit" class="btn btn-lg btn-default">Go!</button>
</form>
