<h1>Played matches for #<%= account_id %></h1>

<% for match in matches %>
	<div>
		<h3>
			<a href="/match/<%= match.id %>">
				[<%= (match.winner == match.player(account_id).team) ? "Won" : "Lost" %>] 
				<%= match.player(account_id).hero.localized_name %>
			</a>
		</h3>
	</div>
<% end %>
